
.body 





.header {
    width: 36.5px; height:31px; top: 11.5px;
    padding-left: 51px;
    position:unset;
    top: -10px;
    background-color: #f00;
    
     }

.heder_item {
    font-size: 20px;
    line-height: 53.25px;
    text-align:end;
    height: 16.5px; width: 16px; left: 10px; top: 0px; border-radius: 1px;
    margin:0px;  
    }

.font-s {
font-size: 18px;
width: 1500px;
align-content: center;
margin: 51PX, 31.5PX;
}


.text1 {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700px;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

.phone-img {
    display:flex;
    height: auto;
    width: 14000px;
    left: 50px;
    top: 195px;
    border-radius: 0px;
    gap: 10px;
}

.main {
    display: flex;
    justify-content: flex-start;
}



.container {
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        padding: 0px;
        gap: 100px;
        }
  
        


.container-box-1 {
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }

.container-box-2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 100px;
    }
    
.container-box-3 {
        flex:none;
        flex-grow: 0;
        order:0;
        width: 30.93px;
        height: 60px;
        top:34px;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        position: absolute;
        padding-left: 24.54px;
        border: dotted;
        background: aqua;
    }

    .container-flex1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-grow: 0;
        order:0;
        width: 30.93px;
        height: 60px;
        top:34px;
        padding: 0px;
        gap: 10px;
        position: absolute;
        padding-left: 24.54px;
        border: dotted;
        background: aqua;
    }

        
    .container-item3 {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius:  20px;
    }  
    
.container.config {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        order:0; 
        align-items: flex-start;
        padding: 0px;
        gap: 100px;        

    }

.stylesheet {
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 382px;
    height: 95px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0, 10, 0, 0;

}



.c-button {
    display: inline-block;
    flex-grow:0;
    width: 54px;
    height: 19px;
    border-width: 2px;
    border-color: #000; 
    order: 0;
    }


.p {
    font-family: sans-serif;
    font-size: 18px; 
    padding: 10px; text-align:justify; margin: 16px;
}

    .h {
        font-family: sans-serif;
        font-size: 18px;
        padding: 51px; width: 1500px; text-align:justify; margin: 16px;}

   .p.fig {
    text-align:justify; width: 150px; margin: 5px; vertical-align:text-top;
    place-self:inherit;
    bottom: 0px; padding-left: 0px;
     }

.a:link {
    color: #018ad2;
    text-decoration: none
}
.a:hover {
    display:flex;
    flex: none;
    flex-grow: 0;
    color: #c00; 
    text-decoration: none
}

.button {
    border-radius: 2px solid #000;
    padding: 8px 12px;
    text-align:justify;
    border-color: #c00;
}



ol, ul, li  {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 0px;
    align-self: stretch;
    position: absolute;
    font: 16px;
    line-height: 19.36px;
    font-weight: 500px;
} 

.iframe {
    border: 1px; border-style:dashed; color: #c00; padding: 51px;
}

.table {
    column-span:none;
    background: cyan;
    border: 1px;
    border: double;
    color: black; 
    }

.img {
    size-adjust:initial;
    border: 0px;
    place-self:stretch center;
    padding-left: 5px; padding-right: 16px;
    margin-top: 0 px;
    margin-bottom: 10px;
}

.img-star {
    width: 2px;
    height: 100px;
 }

.review {
    display:flex; /* flex\\ inline-flex*/
    gap: 6px;
    }     

 .review_photo {
    margin-right: 20px;
     }

.layout {
    width: 100px; margin: auto;
    height: 100px;
    position: relative;
    float: right;
    background: rgba(119, 115, 115, 0.58);
}

.sidebar, .content, .button-1 {position: absolute;}
.sidebar {
display: flex;
flex-direction: column;
align-items: flex-start;
height: 100%;
position: absolute;
background: #c6dd7d;
top: 10px;
left: 10px;
width: 420px;
height: 275px;
padding-top: 20px;
background-color: #ffffff;
gap: 15px;
}

.content {
    background: #f4ecce;
    top:35px;
    left:10px;
    width: 70px;
}

.button-1 {
    height: 64px;
    width: 380px;
    left: 20px;
    top: 191px;
    border-radius: 4px;
    padding: 20px 49px 20px 49px;
    justify-items: space-between;
    background-color: #f36223;
}
   