html,body

@page:first {
    height: 100%;
    width: 100%;
    min-width: none;
    max-width: 1500px;
    
    min-height: 100%;
    position:absolute;
        
    background:#F8FAFE;
    font-family: "inter";
         
}

.centr{
    display: flex;
    
    height: 0;
    position: absolute;
    left: calc(50% -750);
    right:0;
    top: calc(50% - 750);
    margin: 0 auto;
    align-items: center;
    font-family: "Inter";
    
}



.body {
    
    display: flex;
    position: absolute;

    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #ffffff;

    height: 100%;
    width: 100%;
    min-width: none;
    max-width: 1500px; 
    
        
}


.header {
     /* МойМаркет */
    display: block;
    position: absolute;
    max-width: 700;
    height: 19px;
    left: -3px;
    right: 0;
    top: 18px;
    border: 1px solid #FFFFFF;
    display: block;
    padding-left: 60px;
    margin: 0 auto;
    margin-left: 0px;
    
    
    

    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;   

    width 100%
    height: 0;
    position: absolute;
    left: calc(50% -750);
    margin-right: 0;
    margin-left: 0 auto;

    width: 100%;
    height: 100%;
     
    } 
    


  

.stylesheet_text{
    box-sizing: content-box;
    width: 382px;
    height: 95px;
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    font-size: 16px;
    line-height: 19.36px;     
    
}

.stylesheet_text1 {
    box-sizing: content-box;
    width: 880px;
    height: 76px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    line-height: 19px;     
    padding-top: 10px;
}

.stylesheet_text2 {
    box-sizing: content-box;
    width: 880px;
    height: 76x;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    line-height: 19px;     
    
}

.stylesheet_text3 {
    box-sizing: content-box;
    width: 880px;
    height: 95x;
    font-family: 'Inter';
    font-style: normal;
    font-weight:500;
    color: #000000;
    font-size: 16px;
    line-height: 19px;     
    align-items:flex-start;
}

.stylesheet_text4 {
    box-sizing: content-box;
    width: 880px;
    height: 95x;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    line-height: 19px;     
    align-items:flex-start;
}

.alink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0px 0px 0px;
    gap: 4px;
    top: 29px;
    
    width: 100%;
    height: 19px;
    left: 30px;
    
    margin: 0 auto;
    position: absolute;
    

    flex: none;
    order: 0;
    flex-grow: 0;
   
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19.36px
   
    
}


.text_1 {
 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px 20px 0px;
    gap: 4px;
    margin: 10px 10px 20px 10px;
    
    position: absolute;
    width: 700px;
    height: 39px;
    left: 60px;
    top: 91px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
         
} 

.main{

    display: flex;
    align-content:flex-start;
    align-self:flex-start;
    justify-content: flex-start;
    flex-grow: 0;
    width: 1400px;
    height: 257px; 
    margin: 80px 260px 160px 50px;
    padding: 0 0 0 0;
    position: relative;
    margin-top: 180px;
           
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    left: 50px;
    margin-top: 0px;
    top: 50px;
    position: relative;

    gap: 100px;
    width: 1400px;
    height: Hug(957px);
    top: 612px;
    left: 51px;

}

.box-2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    left: 160px;
    top: 200px;  
    position: relative;
}

.box-3 {
    display: inline;   
    gap: 100px;
    margin: 10px 20px 0px 0px;

    width: 30.93px;
    height: Hug(957px);
    top: 612px;
    left: 51px;

    border: #000000;
    background: #c4c4c4;


}


.ccontainer.item2{
    display:flex;
    
    gap: 100px;
    margin: 0px 34.54px 34.54px 10px;

    width: 1400px;
    height: Hug(957px);
    top: 612px;
    left: 51px;


}
    



.ol, .ul, .li  {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left: 0px;
    align-self: stretch;
    position: relative;
    vertical-align: 0px;
    font: 16px;
    line-height: 19.36px;
    font-weight: 500px;
    
} 

.article {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-self: stretch;
    margin: 0;
    padding: 0;
    height: 957px;
    width: 980px;
    margin-left: 0px;
    margin-top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
}

.app{
    display: inline-block;
    max-width: ;
    padding-top: 160px;
    margin: 0 auto;
    

}

.priev-section {
    display: inline-block;
    margin-top: 0px;
    
}


.priev-section_hedear{
    display: inline-block;
    margin-top: 0px;

}

.priev-section_wrape{
    display: inline-block;
    


}

.priev-section_title {
    display: inline-block;
    justify-self:baseline;
    padding-top: 0px;
    


}

.priev-button{
    display: inline-block;
    margin-left: 530px;
    width: 200px;
    height: 40px;

}

.Feedback{
    display:flex;
    flex-direction:row;
    width:  850px;
    margin-right: 25px;
    margin-left: 0px;
    gap:30px;
    font-family: 'Inter';
    font:normal;
    font-weight: 700;
    font-size: 14px;
    top:27px;
    padding-top: 20px;

}

.Feedback_1 {
    display:flex;
    flex-direction:column;
    gap:0px;
    padding: 10 auto;
    margin-top: 10px;
    
    }

.Feedback.img {
    
    width: 140px;
    height: 140px;
    background: url(review-1);
    border-radius: 100px;
    margin-left: 50px;
}

   .Feedback_star{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 0px 0px 10px 0px;
    margin-top: 0px;
    width: 150px;
    height: 30px;
 }

.Feedback_text {
    box-sizing: content-box;
    Flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    width: 710px;
    height: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #000000;;
    font-size: 14px;
    line-height: 17px;     
    padding-top: 5px
   }



 
.aside {
    display: flex;
    flex-direction:column;
    justify-content:baseline;
    align-items:flex-start;
    height: 275px;
    width: 420px;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
    margin-left: 0px;
    background-color:#FFFFFF;
    gap: 15px;     
    border: 1px solid #eeeeee;
    border-radius: 20px;
    flex: none;
    flex-grow: 0px;
}
.aside_cent {
    display: flex;
    flex-direction:row;
    justify-content:left;
            
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
    margin-left: 10px;
    margin-top: 12px;
    
   
    width: 420px;
    height: Hug(275px);
           
    background-color:#EEEEEEE;
    gap: 10px;     
    border:1px solid #EEEEEEE;
    
    text-align:justify;
    font-family: "inter";
    font-style: normal;
    font-weight: 50;
    font-size: 16px;
    color:#888888;
    line-height: 16px;
    text-decoration-line: line-through;
          

}

.cena {
    display: flex;
    flex-direction:row;
    justify-content:left;

    font-family: Inter;
    font-size: 32px;
    font-weight: bolder;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;

    padding-left: 15px;

    X constraint: Left;
    Y constraint: Top;
 
}



.aside_cent_1 {
    display: flex;
    flex-direction:row;
    justify-content:center;
    width: 40px;
    height: 19px;
            
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
    margin-left: 0px;
    margin-top: 0px;

    background: #F36223;
    border:1px solid #EEEEEE;
    border-radius: 20px;
  

    Font family: Inter;
    Font style: Medium;
    Font size: 16px;
    Line height: 16px;
    Line height: 83%;
    Align: Left;
    Vertical align:top;
     
    
    gap: 5px;   
    Fill: Solid #ffffff;    

}

.aside_1 {
    display:flow-root;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
    padding-top: 0px;
    padding-left: 15px;
        
    gap: 0px;    
     
    width: Hug(450px);
    height: Hug(19px);
    background: white;
    border:0px solid white;
    
    X constraint: Left;
    Y constraint: Top;

    Font family: Inter;
    Font style: Mixed;
    Font size: 16px;
    Line height: 19px;
    Line height: 100%;
    font-weight: normal;
    Align:Left;
    Vertical align: Top;
    color: #000000;    
}

.aside_button {
    display:flow-root;
    flex-direction: space-between;
    align-items:center;

    width: 380px;
    height: 64px;
    margin-left: 0;
    margin-top: 5px;
    padding: 20px, 49px, 20px, 49px;

    background: #F36223;
    border:0px solid white; 
    color:#EEEEEE;
    X: 20px;
    Y: 191px;
    W: 380px;
    H: 64px;
    border-radius: 4px;
    X constraint: Left;
    Y constraint: Top;
    gap: 10px;

    font-size: 20px;
    line-height: 24px;
    line-height: 100%;

    Fill: Solid;
    position: relative;
    left: 20px;


    
}

.aside_rec {
    width: fill(420px);
    height: 300px;
    padding: 10px, 0px, 0px, 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px;
    gap: 10px;
   
    background: linear-gradient(0deg, #bfbfbf, hsla(0, 0%, 43%, 0.973)),linear-gradient(0deg, #F0F0F0, #F0F0F0);

    border: 1px solid rgb(128, 127, 127);
    Fill: Solid#F0F0F0;

    background: #EEEEEE;
    border:#EEEEEE;
    

    Font family: Inter;
    Font style: Regular;
    Font size: 14px;
    Line height: 17px;
    Line height: 100%;
    Align: Left;
    Vertical align: Top;    
}

.aside_rec_1 {
    width: fill(420px);
    height: 300px;
    padding: 10px, 0px, 0px, 30px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 0px;
    gap: 10px;
   
    background: linear-gradient(0deg, #bfbfbf, hsla(0, 0%, 43%, 0.973)),linear-gradient(0deg, #F0F0F0, #F0F0F0);

    border: 1px solid rgb(128, 127, 127);
    Fill: Solid#F0F0F0;

    background: #EEEEEE;
    border:#EEEEEE;
    

    Font family: Inter;
    Font style: Regular;
    Font size: 14px;
    Line height: 17px;
    Line height: 100%;
    Align: Left;
    Vertical align: Top;    
}


.aside__like svg {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    border-color: #FFFFFF;
}


/* -8% */
.aside__like:hover {
width: 31px;
height: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
/* White */
color: #FFFFFF;
}

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


.btn_delivery:before {
    content: "";
    display: inline-block;
    background-image: url(".resources/images/vector2.svg");
    width: 19.72px;
    height: 18.76px;
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
  }

 .aside.advertisement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0px;
    padding: 20px;
    gap: 15px;
    width: 420px;
    height: 275px;
    background: #F0F0F0;
    /* Dark gray */
    border: 1px solid #eeeeee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }



.footer {
    clear: both;
    position: relative;
    z-index: 10;
    background-color: #ff00ff;
    margin: 0, 0, 0, 0; 
    float:none;
    padding: 0, 100, 0, 0;
    margin: auto;
    
    height: 80px;
    width: 900px;


}


/-Feedback Отзыв-/


